/* Base Navbar */
#mainNavbar {
    height: 65px;
}

.listing-filter-nav {
    padding-bottom: 15px;
}

.listing-card-price-label {
    margin-left: 15px;
}

.listing-card-header {
    font-weight: 400;
}

/* Footer */
#footer {
    text-align: center;
    margin-top: 30px;
    padding-bottom: 10px;
}

#footer p {
    font-size: 14px;
    line-height: 8px;
    color: rgba(0,0,0,0.6)
}