/* Base Navbar */
#mainNavbar {
    height: 65px;
}

.listing-filter-nav {
    padding-bottom: 15px;
}

.listing-card-price-label {
    margin-left: 15px;
}

.listing-card-header {
    font-weight: 400;
}